appdirs==1.4.3
asn1crypto==0.24.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
cryptography==2.3
cssselect==1.0.3
entrypoints==0.2.3.post3
fake-useragent==0.1.11
idna==2.6
keyring==15.1.0
keyrings.alt==3.1
lxml==4.2.5
parse==1.9.0
psycopg2-binary==2.7.5
pycairo==1.16.2
pycrypto==2.6.1
pyee==5.0.0
PyGObject==3.30.1
pyppeteer==0.0.25
pyquery==1.4.0
pyxdg==0.25
requests==2.19.1
requests-html==0.9.0
SecretStorage==2.3.1
six==1.11.0
tqdm==4.26.0
urllib3==1.23
w3lib==1.19.0
websockets==6.0