.bioinformatics {
  background-color: #CD6155;
}

.animalbehaviorandcognition {
  background-color: #EC7063;
}

.biochemistry {
  background-color: #AF7AC5;
}

.bioengineering {
  background-color: #A569BD;
}

.bioinformatics {
  background-color: #5499C7;
}

.biophysics {
  background-color: #5DADE2;
}

.cancerbiology {
  background-color: #48C9B0;
}

.cellbiology {
  background-color: #45B39D;
}

.clinicaltrials {
  background-color: #52BE80;
}

.developmentalbiology {
  background-color: #58D68D;
}

.ecology {
  background-color: #F4D03F;
}

.epidemiology {
  background-color: #F5B041;
}

.evolutionarybiology {
  background-color: #EB984E;
}

.genetics {
  background-color: #DC7633;
}

.genomics {
  background-color: #F9E79F;
}

.immunology {
  background-color: #AAB7B8;
}

.microbiology {
  background-color: #99A3A4;
}

.molecularbiology {
  background-color: #F1C40F;
}

.neuroscience {
  background-color: #52BE80;
}

.paleontology {
  background-color: #C0392B;
}

.pathology {
  background-color: #E74C3C;
}

.pharmacologyandtoxicology {
  background-color: #9B59B6;
}

.physiology {
  background-color: #8E44AD;
}

.plantbiology {
  background-color: #2980B9;
}

.scientificcommunicationandeducation {
  background-color: #3498DB;
}

.syntheticbiology {
  background-color: #1ABC9C;
}

.systemsbiology {
  background-color: #16A085;
}

.zoology {
  background-color: #27AE60;
}
