#header {
  margin-bottom: 25px;
}

#header img {
  margin-bottom: -5px;
}

.context {
  cursor: context-menu;
}

body {
  background-color: #333333;
}

#main {
  background-color: #fff;
  border-radius: 0px;
  padding: 15px;
  padding-top: 20px;
  /* margin-top: 20px; */
}

#footer {
  color: #fff;
  text-align: right;
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  color: #468847;
}

.btn-altcolor {
  background-color: #468847;
  border-color: #468800;
  color: #fff;
  text-decoration: none;
}

.btn-altcolor:hover {
  background-color: #2e592f;
  color: #fff;
  text-decoration: none;
}
